


<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>	

	<div class="frame frame0">
		<img class=" bg_1" src="../_common/images/<%= size %>/bg_1.jpg"/>
		<img class=" bg_2" src="../_common/images/<%= size %>/bg_2.jpg"/>
		<img class=" bg_3" src="../_common/images/<%= size %>/bg_3.jpg"/>
		<img class=" bg_4" src="../_common/images/<%= size %>/bg_4.jpg"/>
		<!-- <img class="retina sky_1" src="../_common/images/<%= size %>/sky.jpg"/> -->
		<img class="cloud_bike cloud" src="../_common/images/<%= size %>/cloud_bike.png"/>	
		<img class="cloud_gutar cloud" src="../_common/images/<%= size %>/cloud_gutar.png"/>
		<img class="cloud_palm cloud" src="../_common/images/<%= size %>/cloud_palm.png"/>
	</div>

	<div class="frame frame1">
		<!-- <img class="retina" src="../_common/images/<%= size %>/_frames/f1.png"/> -->
		
		<img class="dream_big cloud-blenmode" src="../_common/images/cloud.png"/>		
		<img class="dream_big dream_big_logo" src="../_common/images/<%= size %>/dream_big.png"/>	

		
	</div>	

	<div class="frame frame2">
		<!-- <img class="retina" src="../_common/images/<%= size %>/_frames/ff2.jpg"/> -->

		
		<% include ./_ticker %>		
		<!-- <img class="tickerMain cloud-blenmode" src="../_common/images/cloud.png"/>		 -->


		<img class="ticker_cloud cloud-blenmode" src="../_common/images/cloud.png"/>	
		
		<img class="retina footer-bar date" src="../_common/images/<%= size %>/bar_date.png"/>
		<img class="footer-bar bar" src="../_common/images/<%= size %>/bar.png"/>
		<img class="footer-bar t1" src="../_common/images/<%= size %>/bar_t1.png"/>
		<img class="footer-bar t2" src="../_common/images/<%= size %>/bar_t2.png"/> 
		


		<img class="retina footer-bar logo_max" src="../_common/images/<%= size %>/bar_logo_max.png"/> 

	</div>	


	<div class="frame frame3"><!-- 
		<img class="retina" src="../_common/images/<%= size %>/_frames/f3.png"/> -->
		
		<img class="retina cta" src="../_common/images/<%= size %>/end_cta.png"/>
		<img class="retina legal" src="../_common/images/<%= size %>/end_legal.png"/>
		
		<img class="dream_big cloud-blenmode" src="../_common/images/cloud.png"/>		
		<img class="retina dream_big dream_big_logo" src="../_common/images/<%= size %>/dream_big.png"/>	
		<img class="phone" src="../_common/images/<%= size %>/end_phone.png"/>
		
	</div>

	
	<% include ./_end %>		
	
</div>




